[2014-09-12 10:50] MaplerStory opened #1 "Build on Windows"
I got a problem for building this project on windows.
for now, the project is built well on windows, but it gets heap broken when run.
and i find it may be caused by the buffer in the client
`buffer.resize(readSize);`

then i compare this project to fuCtor 's implement, and i get that he initials the buffer's size in constructor like this
`buffer_.reserve(Frame::HEADER_SIZE);`

and i add the initi

[2014-09-12 11:31] MaplerStory opened #2 "Can not connect to server with URI of default vhost"
AMQP server usually provides a default vhost, which is "/", if i use a uri with default vhost, such as
`QString uri = "amqp://guest:guest@192.168.1.10:5672/";`
then the client could not connect to the server, so this code in parseConnectionString() may has some problems
`if (vhost.startsWith("/"))
        vhost = vhost.mid(1);`

[2014-09-12 12:17] #2 closed, assigned to nobody

[2014-09-12 12:23] #1 closed, assigned to nobody

[2014-09-15 15:30] alexalv opened #6 "QAbstractSocket::SocketError catching (a question)"
Is there currently a valid way to know that something like a SocketError happened while an attempt to establish connection with remote server. For example I'm trying to establish a connection from my program and calling something like m_client.connectToHost(ConnectionString) and I have a mistake in ConnectionString or remote amqp server is down, is there any way to have immediate feedback about th

[2014-09-16 15:56] #6 closed, assigned to nobody

[2014-09-29 13:30] Erihel opened #8 "Skip test installation"
How can I skip test installation? Tests do not follow PREFIX variable as library does and they always end up in "/usr". Shouldn't test be just run and not installed?

[2014-09-30 12:24] #8 closed, assigned to nobody

[2015-01-29 23:24] danbulgakov opened #9 "Auto reconnection fails if socket error is occurred during connectToHost() call"
Steps:
1. Create QAmqpClient instance
2. Enable auto reconnection
3. Call connectToHost to address of stopped rabbit server
4. Start rabbit server
=> Connection is never established

[2015-01-29 23:58] mbroadst commented on #9
fixed in bb13e2e, thanks!

[2015-01-29 23:58] #9 closed

[2015-02-15 10:01] estan opened #12 "Add API documentation"
I just found this project. The code looks in great shape but is sorely lacking API documentation.

[2015-02-15 10:02] estan opened #13 "Add code for RPC tutorial"
All tutorials seems to have example code except the RPC tutorial.

[2015-02-15 10:03] estan opened #14 "Add texts for the tutorials"
The tutorials are currently just code samples. It would be great if there was some explaining text for each tutorial, perhaps as GitHub wiki pages?

[2015-02-15 16:04] mbroadst commented on #12
@estan documentation is forthcoming, but on an time-permitted basis. Contributions are always welcome!

[2015-02-15 16:06] mbroadst commented on #14
@estan these tutorials are ports of the java tutorials found [here](http://www.rabbitmq.com/getstarted.html). That page has pretty good text descriptions for each of the tutorials

[2015-02-15 21:39] mbroadst commented on #13
implemented in 07ad9d8e4f9de214d57918bb0c1b2945a8b825d5

[2015-02-15 21:39] #13 closed

[2015-02-17 16:56] qmor opened #15 "debian packages"
Are you planning to put qamqp library into debian repo?

[2015-02-17 17:01] mbroadst commented on #15
@qmor I don't currently have a need for that, but I would gladly accept a PR for packaging rules for debian if you'd like to help maintain that

[2015-02-17 17:03] qmor commented on #15
Okay. I could try to put it into debian testing repository. I don't sure that it will be easy, because of some repo rules.

[2015-02-17 17:07] mbroadst commented on #15
please let me know of any changes we need to make here to help you

[2015-02-17 17:25] AdamMajer commented on #15
On Tue, Feb 17, 2015 at 09:03:06AM -0800, qmor wrote:

Debian Jessie is frozen. There is no new packages going in for over 2
months now. Also, all uploads go to Sid (unstable) - you (almost)
never upload to testing.

This bit of Debian trivia was brought to you by,
- Adam

[2015-02-17 17:27] qmor commented on #15
Thanks

[2015-02-27 12:40] qmor opened #16 "Connection suddenly closes with segfault"
Sometimes during data sending amqp connection closes with error:
segfault at c4 ip 00007f6942cb3c9d sp 00007fff0094db18 error 6 in libqamqp.so.0.3.0[7f6942ca0000+3c000]

any advices?

[2015-02-27 12:44] mbroadst commented on #16
@qmor can you build with debug symbols enabled and try to get a proper backtrace? I'll need more to work with to help solve your problem (at very least a description of what you were doing when the segfault occurred, and maybe the output when setting the environment variable QAMQP_DEBUG=1).

[2015-02-27 12:51] qmor commented on #16
Connection:

exchange  ""  disconnected
AMQP Disconnected
exchange  ""  disconnected
socket error:  "The remote host closed the connection"

[2015-02-27 12:53] mbroadst commented on #16
@qmor I'm still going to need at least an explanation of what you're trying to do, unless what you're telling me is that you connect a QAmqpClient to a server and leave it alone for a while and this just happens?

[2015-02-27 12:54] qmor commented on #16
I'm just trying to send data:

if (defaultExchange)
			{
				defaultExchange->publish(QString(in_Info.data),queue_to_write);
				Info() << QString(in_Info.data) << " " <<queue_to_write <<msg_show;
			}

[2015-02-27 12:55] qmor commented on #16
connecting to host:  "192.168.3.87" , port:  5672
Starting new process 'gui' Final time: 0, Step: 0
Starting new process 'thread' Final time: 0, Step: 0
Creating main window...
Connection:

Connection:

Connection:

Open channel #1
Open channel #2
Open channel #3
Open channel #4
Channel#1:

Channel#2:

Channel#3:

Channel#4:

declared queue:  "DP1"
message count 4
Consumer count: 0
declared queue:

[2015-02-27 12:57] qmor commented on #16
If i just start app and have no activity everything looks okay

[2015-02-27 12:57] mbroadst commented on #16
@qmor ah, it looks like you're sending a huge amount of data and its not breaking it apart to satisfy the max frame size. I'll do some testing in a second, but first I need to fix a heartbeat issue :smile:

[2015-02-27 13:01] qmor commented on #16
Have checked it. For now i'm printing out data size
			if (defaultExchange)
			{
				defaultExchange->publish(QString(in_Info.data),queue_to_write);
				Info() << "data size" << in_Info.data.size() << msg_show;
				Info() << QString(in_Info.data) << " " <<queue_to_write <<msg_show;
			}

data size13
 CPIACK ,1,OK py_control
Connection:

exchange  ""  disconnected
AMQP Disconnected
exchange  ""  di

[2015-02-27 13:06] mbroadst commented on #16
@qmor this seems strange, the last log you posted indicates you were trying to send ~33MB:
[code]

Can you maybe post a minimal code example that exhibits the behavior you're running into?

[2015-02-27 13:10] qmor commented on #16
Thats all that i'm trying.

  QString _res = QString(" %1 ,%2,%3").arg("CPIACK",QString::number(CpiCount),result);
  __info.data = QByteArray(_res.toAscii().data());
  _ptrAMQP.get()->Send(__info);

.............
			if (defaultExchange)
			{
				defaultExchange->publish(QString(in_Info.data),queue_to_write);
				Info() << "data size" << in_Info.data.size() << msg_show;
				Info() << QString(in_Inf

[2015-02-27 13:14] mbroadst commented on #16
@qmor yes multithreading could be a big problem if you aren't using one QAmqpClient per thread, it's not thread safe. What I mean by a minima working example is a smaller example of your code base that I can fully compile that shows the issue (setup QThreads, QObjects, main.cpp, run, etc), not just code snippits. It seems like you're experiencing a more complicated error, and it's hard for me to t

[2015-02-27 13:35] qmor commented on #16
Looks like i'm opening Connection in one thread, but sends data from another thread. Could it cause a problem?

[2015-02-27 13:45] mbroadst commented on #16
@qmor yes that will be a problem unless you use QMetaObject::invokeMethod with a QueuedConnection, thus guaranteeing that you are calling the method from the originating thread. So you would do:

[code]

[2015-02-27 13:51] qmor commented on #16
new problem
QMetaObject::invokeMethod: No such method QAmqpExchange::publish(const QString&,const QString&)

[2015-02-27 13:59] mbroadst commented on #16
@qmor I don't believe it honors default values, so you'll have to use the whole signature:

[code]

[2015-02-27 14:01] qmor commented on #16
crazy Qt
QMetaObject::invokeMethod: No such method QAmqpExchange::publish(const QString&,const QString&,const QAmqpMessage::PropertyHash &,int)

[2015-02-27 14:09] mbroadst commented on #16
@qmor what version of Qt are you using? This definitely works for me, for instance I can modify the void tst_QAMQPExchange::confirmDontLoseMessages() test (tst_qamqpexchange:182) like this:

[code]

[2015-02-27 14:10] qmor commented on #16
i'm using Qt 4.8.6
as i found method should be marked as Q_INVOKABLE
https://stackoverflow.com/questions/24642370/qmetaobjectinvokemethod-no-such-method-when-using-inheritance

Could i prepare a micro patch for that?

[2015-02-27 14:11] mbroadst commented on #16
@qmor you don't need to mark it Q_INVOKABLE since its already a public Q_SLOT, I think maybe you have an out of date copy of qamqp downloaded/installed. I updated these methods to be slots somewhat recently: 3c2a039c0882ff4f8655ce6cc463a97798e31dd7

[2015-02-27 14:16] qmor commented on #16
Oh my God. You're totally right. I'm using old version d45f5b0
updating now. Thanks again.

[2015-02-27 14:17] mbroadst commented on #16
@qmor no problem, also if you update to master I just moved qRegisterMetaType<QAmqpMessage::PropertyHash>() to be run in QAmqpClientPrivate's ctor so that you won't have to register it yourself (if you're trying to publish with properties, that is)

[2015-02-27 15:02] mbroadst commented on #16
@qmor does this resolve your issue?

[2015-02-27 19:34] qmor commented on #16
Yes. Thank you very much. Perfect library.

[2015-02-27 19:35] #16 closed

[2015-03-02 21:47] apomykal opened #17 "License type"
I  noticed the license changed at some point from MIT to the GNU GPL and was wondering about the history behind this.   Thx.

[2015-03-02 22:05] mbroadst commented on #17
@apomykal because I wanted to make sure that the project continues to grow and thrive in the open source world. MIT has no provision that modifications to this source base are ever contributed back, while the LGPL does

[2015-03-02 23:13] AdamMajer commented on #17
On Mon, Mar 02, 2015 at 01:47:28PM -0800, Andrew Pomykal wrote:

There are whole modules of Qt licensed under LGPL whether you buy
commercial license or not, so this should not be an issue. For
example, Qt Webkit module is LGPL.

QAMQP may need an exception similar to Qt's LGPL exception for
inline functions.

- Adam

[2015-03-03 01:01] apomykal commented on #17
Thanks, appreciate the timely response.

[2015-03-03 01:05] mbroadst commented on #17
@apomykal no problem, let us know if you have any issues but I think you'll find the LGPL, while lacking in certain respects, generally promotes free growth in public and private sectors for open source projects. Thanks for your interest in the project

[2015-03-03 01:05] #17 closed

[2015-03-05 15:10] apomykal opened #18 "QSocketNotifier Warning when running from a QThread"
I set up my application to spawn a new QThread to process data (convert to a JSON format) and then send to another application using a FanOut exchange.  The new thread creates the exchange and processes data in the run method.

The message is being sent out (received by the other program) but I receive the following error-
QSocketNotifier: Socket notifiers cannot be enabled or disabled from anothe

[2015-03-05 15:16] mbroadst commented on #18
@apomykal QAbstractSocket and its subclasses do not play well with multiple threads, but AMQP promotes multiplexing single connections for multiple channels. QAMQP creates these channels (QAmqpExchange, QAmqpQueue) as children of the connection that you call the relevant "create" method for (createExchange, createQueue). With this in mind, you must make sure that you:

* Always call the "create" m

[2015-03-05 15:21] mbroadst commented on #18
@apomykal an easy to way to avoid this problem, without getting into QueuedConnections, is to ensure that each thread that you spawn has its own QAmqpClient. You only need to get into QueuedConnections if you want to limit the number of actual client connections you use to your amqp broker (generally not a huge concern).

[2015-03-05 15:25] apomykal commented on #18
Thanks, will double check my code and post an example if the problem persists.

[2015-03-05 16:31] apomykal commented on #18
Here is a quick and dirty sample:
#include "TestThread.h"
#include <QDebug>

TestThread::TestThread()
{
   m_exchange = NULL;
   mExchangeDeclared = false;

   // Rabbit Connection
   qDebug() << "TestThread::TestThread()";
   connect(&m_client, SIGNAL(connected()), this, SLOT(clientConnected()));

   m_client.connectToHost("localhost");
}

void TestThread::run()
{
   m_continue = true;
   int i =

[2015-03-05 16:43] mbroadst commented on #18
@apomykal well first of all [you're doing QThreads wrong](http://blog.qt.io/blog/2010/06/17/youre-doing-it-wrong/). Give me a few minutes to put together a better example for you

[2015-03-05 17:03] AdamMajer commented on #18
On Thu, Mar 05, 2015 at 08:43:21AM -0800, Matt Broadstone wrote:

This has a good example,

   http://doc.qt.io/qt-5/qthread.html

Or even better, use Qt Concurrent module for your workers,

   http://doc.qt.io/qt-5/qtconcurrent-index.html

Along with thread pooling (even with default pool), it's much less
expensive than starting a QThread. And you are less likely to start
thrashing by starting to

[2015-03-06 00:11] apomykal commented on #18
Thanks for the pointers.  I'll work on my thread example.  However, I do have qamqp working in my application and it's performing brilliantly.

[2015-03-13 16:24] redkite1 opened #19 "waitForBytesWritten(1000) causing "Network operation timeout""
waitForBytesWritten(1000) on line:
https://github.com/mbroadst/qamqp/blob/master/src/qamqpframe.cpp#L61

Why are you using a so small timeout? (The default is 30000 ;-))

Well, I suppose that my application is really busy. But anyway, I'm trying to upgrading my app from fuCtor/QAMQP and I was wondering what was your reason for adding this?
As soon as I increase it, it's ok.
But as soon as I reduce

[2015-03-13 16:28] mbroadst commented on #19
honestly I couldn't tell you at this point :smile:  I imagine it just sped up testing at the time, if you put together a PR together I'll accept it. Ideally, it'd be nice to make it a configurable value set on e.g. QAmqpClient?

[2015-03-13 16:34] redkite1 commented on #19
Yes, of course, I was going to add something like:
`void QAmqpClient::setWriteTimeout(int msecs);`
`int QAmqpClient::getWriteTimeout() const;`

[2015-03-13 16:36] redkite1 commented on #19
Maybe writeTimeout instead of getWriteTimeout if I want to match your code.

[2015-03-13 16:37] mbroadst commented on #19
yeah, I try to stick to Qt style guidelines. That sounds good to me, unless there's a more descriptive name (not sure I can think of one off the top of my head).

[2015-03-13 16:38] redkite1 commented on #19
setFrameWriteTiemout ?

[2015-03-13 16:39] mbroadst commented on #19
I think setWriteTimeout is okay for now, if it conflicts in the future we can add setFrameWriteTimeout and not break BC, but just change the meaning

[2015-03-13 16:40] redkite1 commented on #19
ok, will do it on monday.
Have a good week-end and thanks for your fast answers!

[2015-03-13 16:40] mbroadst commented on #19
@redkite1 np, thanks for the help! have a great weekend

[2015-03-16 12:47] redkite1 commented on #19
Hello Matt,

I need the writeTimeout inside QDataStream &operator<<(...) in qamqpframe_p.h which have no idea of the client used, and in multiple place where QAmqpFrame is used, there is no client available.

Where do you expect me to put this parameter?
The easiest one would be a static setter and getter on QAmqpFrame, but I would need a mutex for protecting the setter ><.

[2015-03-16 13:11] redkite1 commented on #19
QAmqpFrame is not in the INSTALL_HEADERS :-/

[2015-03-16 13:30] mbroadst commented on #19
@redkite1 QAmqpFrame isn't exported that's right, but you can still make it a static method on QAmqpClient that internally accesses a static variable on QAmqpFrame or something? Keeping the property on QAmqpClient makes most sense to me, as its where you would expect to find it.

[2015-03-18 02:15] #19 closed

[2015-03-18 02:15] mbroadst commented on #18
@apomykal good to hear, I'll close this for now then.

[2015-03-18 02:15] #18 closed

[2015-03-25 06:45] estan commented on #14
Ah. Fair enough.

[2015-03-25 06:45] #14 closed

[2015-03-25 20:58] sjlongland opened #21 "Tests currently fail on Debian Wheezy"
Hi,

I'm just in the process of packaging on qamqp on Debian Wheezy (I'll make the debs available shortly) but stumbled on this issue:

[code]

Current build host:
* gcc 4.7.2-5
* Qt 4.8.2+dfsg11
* Architecture: i386 (LXC container on Gentoo host)

[2015-03-25 21:10] mbroadst commented on #21
Hm, that's really bizarre. The 4.8 tests run on Travis use an even more ancient pairing than yours and build just fine (gcc: 4.6.3/qt: 4.8.1). Is that the only test that fails?

[2015-03-25 21:11] mbroadst commented on #21
oh hah, sorry I'm quite turned around right now. These will *definitely* fail on your local machine if you don't have a rabbitmq server setup. Unfortunately all of the current tests are integration tests, rather than unit tests. I'd say for packaging you're going to want to just skip running the tests, and I'll make a mental note to more clearly distinguish what is and isn't an integration test!

[2015-03-25 21:34] sjlongland commented on #21
Ahh okay, for now I've just told debhelper to skip the `make check` step, but I was a bit concerned about the messages I was getting.

In any case, Debian packages coming right up.

[2015-03-25 21:35] sjlongland commented on #15
I had an initial stab at this this morning.  Only tested on Debian Wheezy i386 at present.

https://github.com/mbroadst/qamqp/pull/22

[2015-03-30 20:27] sjlongland opened #23 "Messages getting mixed up"
Hi,

Just been experimenting with QAMQP, so far it's been a very easy introduction to AMQP on C++.  The project I'm using AMQP for is a crude SCADA system for energy management.  So we've got energy meters being polled (Modbus or BACnet) with data being collected and reported via AMQP messaging.

For testing purposes, I've done a dummy driver.  It uses the `rand()` function out of `stdlib.h` to ge

[2015-03-30 21:09] mbroadst commented on #23
@sjlongland its entirely possible that this is happening, from my travels through implementations in a few other languages (I've now implemented this in 3 :smile:), I've seen other multiplex incoming messages. On the other hand the spec indicates that incoming frames should be sequential so the way we currently handle incoming bodies *should* just work (though it seems this is not the case).

The

[2015-03-30 21:14] mbroadst commented on #23
@sjlongland in your studies you'll probably want to focus on: https://github.com/mbroadst/qamqp/blob/master/src/qamqpqueue.cpp#L115. This basically assumes that there is one message being processed at a time (perhaps a wildly inappropriate assumption!). It's worked for me thus far in production, but maybe we haven't experienced the load/size of messages you are working with.

[2015-03-30 22:41] sjlongland commented on #23
On 31/03/15 07:14, Matt Broadstone wrote:

Indeed, it's not all the time, just intermittently, so I'm not sure
what's going on.  I can accept a lack of time to deal with this, know
that feeling well. :-)  (Lately I've had a mountain of work that'd give
a Sherpa a nose bleed.)

I'm using RabbitMQ 3.5.0 (from their repository, not Debian's) here on
Debian Wheezy i386, so similar platform to what QAM

[2015-03-31 01:40] sjlongland commented on #23
Okay, a bit more information on the bug.  It seems as if a buffer isn't cleared when the message is delivered, so old message data is left in the buffer when the next message comes along.

[code]

There, three of them got mixed up.  When I look for that UUID in my Python-based client, I see this:

[code]

So it was supposed to be an `rt_read` message (reading attribute values).  So I look back thr

[2015-03-31 01:57] fuCtor commented on #23
As example you can try make tcpdump by Wireshark for this case.  Compare received packet with processed by QAMQP, and log leftSize for current message.

[2015-03-31 04:59] sjlongland commented on #23
Okay, for whatever reason a "basic.deliver" got missed.  Or at least from my tinkering it appears that way.

I've made some changes to the library so that I can trace what's going on.  These are in a separate branch:

https://github.com/mbroadst/qamqp/compare/master...sjlongland:investigate-issue-23

I've also added a shim layer that exposes QDebug messages to log4cpp in my code base, so that QAMQ

[2015-03-31 12:30] mbroadst commented on #23
@sjlongland it would be useful to throw in the output of enabling QAMQP debugging (QAMQP_DEBUG=1 ./test/auto/sometest) as well

[2015-03-31 19:27] sjlongland commented on #23
On 31/03/15 22:30, Matt Broadstone wrote:

Ahh, so *THAT*'s what QAmqpDebug does.  Okay, I've added that to my
environment and I'm doing a test now.

Regards,
--
Stuart Longland (aka Redhatter, VK4MSL)

I haven't lost my mind...
  ...it's backed up on a tape somewhere.

[2015-03-31 19:30] mbroadst commented on #23
@sjlongland it's not exactly the best, but it's more data :smile:

[2015-03-31 19:47] sjlongland commented on #23
Indeed, and I think I see a problem:
[code]

So somewhere it is getting the consumer tags muddled.  If I look back in the log, this was what was captured when the program started declaring that particular queue.

[code]

I'll double check that consume() isn't being called by mistake twice.  Ideally this shouldn't be happening but if it is, that might be the culprit.

[2015-03-31 19:53] mbroadst commented on #23
@sjlongland ah that would be a bug indeed :smile:

[2015-03-31 19:56] sjlongland commented on #23
I think there's my problem.  So a state machine bug in my code, triggering a bug in QAMQP.

![rabbitmq](https://cloud.githubusercontent.com/assets/1710526/6927827/66ca4b8c-d833-11e4-8d97-73424b0c18c9.png)

There are a couple of ways we can prevent this from accidentally occurring.  One would be to put a boolean flag that gets set when `consume()` is called, (and re-set when the consumer is cancell

[2015-03-31 20:24] mbroadst commented on #23
@sjlongland Ah great sleuthing! Yes there should be a 1-1 guarantee between a queue and a consumer tag. Can we start with a test case expressing the problem? I'm not sure I understand quite how you're trigging the error as we already have a check to prevent multiple consumption on a given QAmqpQueue: https://github.com/mbroadst/qamqp/blob/master/src/qamqpqueue.cpp#L448.

[2015-03-31 21:10] sjlongland commented on #23
Okay, what I think is happening… in my code I've got a state machine that wraps the queue, basically so my objects just hold a reference (thank-you QSharedPointer) to my state machine object.

The Queue state machine (AMQPQueueHandler) begins in the DISCONNECTED state, when it receives the connected signal from the connection (AMQPConnectionHandler; which wraps QAmqpClient), it creates a queue obj

[2015-03-31 21:15] mbroadst commented on #23
to me it seems more likely that you are calling declare multiple times here, there is no corresponding guard in the [declare()](https://github.com/mbroadst/qamqp/blob/master/src/qamqpqueue.cpp#L243) method. Try adding a line there to bail ```if (d->consuming)``` and see if it fixes your problem

[2015-04-01 23:05] sjlongland commented on #23
Okay, I spent the last day re-working my code to ensure correct state when setting up objects, only to hit a separate issue with socket operation timeouts.  So I've branched that code off and backtracked to where I was yesterday morning.

It appears there is some logic there in QAMQP to do an automatic re-connect, and it appears that queues then get re-declared on reconnect.  Not sure if it re-bin

[2015-04-02 04:05] sjlongland commented on #23
And it looks like I've nailed it.  The fixes will need some cleaning up but this is probably closer to the target than what we had before.

https://github.com/mbroadst/qamqp/compare/master...sjlongland:investigate-issue-23

There are a couple of problems that are superimposed on top of each-other.  Firstly, is the lack of checking to see if some operations (notably `declare` and `consume`) are alr

[2015-04-02 13:34] mbroadst commented on #23
@sjlongland cool, I'm glad you found a solution here. I'm still concerned that without a test case showing the behavior, we will not be able to fully verify that the issue(s) you are facing are completely solved. There's proof enough of this being the case by simply observing your initial bug blossom into at least one other one. Can you provide a PR that shows your initial bug within the context o

[2015-04-02 23:43] sjlongland commented on #23
On 02/04/15 23:34, Matt Broadstone wrote:

I'll see what I can do.  Should be possible by creating a queue,
double-consuming it then sending a message to it.
--
Stuart Longland (aka Redhatter, VK4MSL)

I haven't lost my mind...
  ...it's backed up on a tape somewhere.

[2015-04-03 01:40] sjlongland commented on #23
Okay, see https://github.com/mbroadst/qamqp/pull/24

[2015-04-03 02:17] sjlongland commented on #23
Well, I did some further exploration to see what minimal fixes would nail this issue, and the result of that is in https://github.com/mbroadst/qamqp/pull/25.

I note that Travis-CI reports a successful fix.

[2015-04-06 14:05] #21 closed

[2015-04-10 00:46] sjlongland commented on #21
I've just done some more digging into this.  It seems I get the above test failure (with rabbitmq-server installed) when using the stock Qt 4.8.2 build that Wheezy ships with.  If I use the version from Wheezy backports, I get this:

[code]

I've confirmed this on AMD64 and i386.  Interesting, the builds are passing on Travis-CI, so there's something different about the Ubuntu build there as oppos

[2015-04-10 02:58] sjlongland commented on #21
Debian Jessie is fine it seems, the problem is specific to Wheezy.

[2015-06-06 17:25] keelung opened #28 "There is a plan to export it to a QtQuick component?"
Thanks for your work. I'm newer to QtQuick&AMQP, maybe just a few steps to make it aware as a QtQuick component?

[2015-06-08 13:20] mbroadst commented on #28
@keelung there hasn't been any work as of yet to convert this to a QML component, although theoretically it should not be very difficult if you export the client, exchange, and queue classes (make sure exchange and queue are declared as non-creatable types since they are handled internally). I don't have time to work on this, but would certainly accept contributions to this end

[2015-11-18 09:52] aletricks opened #29 "Reconnection after server restart"
Hi,
thanks for your work!
we are trying to make stronger our application if RabbitMQ server restart . No problem with the producers, when connect signal is emitted the exchages are redeclared and we can use publish methods successfully.
We have some problem with the queues: after reconnection, the queue object already created throws this error:

What is the correct approach? We must destroy and re

[2015-11-18 13:32] mbroadst commented on #29
@aletricks hi, can you please try running your application with `QAMQP_DEBUG=1` set in the environment variables, this way we can have a little more information to work with. You should be able to use your existing channels over reconnects to the server.

[2015-11-18 14:40] aletricks commented on #29
@mbroadst  hi, the variable was yet enable set to 1. As you can see from debug message above.
I was able to reconnect simply destroying QamqpClient, but is not the my favourite solution. I would prefer reuse existing channels, as you suggest!
The main problem occurs when consume method is called after reconnection to rabbit server (restarted), the server doesn't create a new consumer, because loca

[2015-11-18 14:44] mbroadst commented on #29
@aletricks I can see it was run with the debug statement, what I am asking for is to actually see the full logs :smile: I haven't worked with this library in almost a year, so I'll need to refresh myself. When the client reconnects (which it should do automatically), `open` should automatically be called on all existing `QAmqpQueue` and `QAmqpExchange` objects. If that's not happening that's a bug

[2015-11-18 15:25] aletricks commented on #29
Ok,
here is the log of this use case:
 * two consumers are connected and works fine ! but if I restart Rabbit server occurs this problem.
[code]

[2015-11-18 16:08] mbroadst commented on #29
@aletricks hmm that seems to be a different issue than you originally reported, but just as bad. For some reason there are multiple open frames being sent out for the same channel:

[code]

I'll see if I can find some time later today to reproduce the issue, in the meantime you might try to put some debug messages in and around the reconnect logic to figure out which signals are causing open frame

[2015-11-18 16:29] mbroadst commented on #29
@aletricks off the top of my head I can see that `needOpen` should probably be set to `false` at the end of `QAmqpChannelPrivate::open`

[2015-11-18 17:02] aletricks commented on #29
@mbroadst
Sorry, not work !
by setting at the end of QAmqpChannelPrivate::open

[2015-11-19 13:50] aletricks commented on #29
@mbroadst you can try this issue if, restart server while send messages, you can see one of your tutorial examples (i.e. HelloWorld).
If you insert a timer connected with send of message, from other side a client receive all mesagges, until server stop. RIGHT!
When I restart server, the producer will be able to continue to send messages automatically (:D), but receives will be locked !
* Exchanges

[2015-11-19 22:49] mbroadst commented on #29
@aletricks hey, I pushed a few fixes just now that should fix your problem. First, and foremost, it's important that you do something like [this](https://github.com/mbroadst/qamqp/blob/master/tutorials/helloworld/receive/main.cpp#L25) in your code, because the connection will be made multiple times otherwise and you could run into strange state.

Aside from that, I've tested a few different cases

[2015-11-20 07:36] aletricks commented on #29
Yesterday, I found a fix, by setting queue attribute

When server go down !

It work and resume queues well!

[2015-11-20 11:31] aletricks commented on #29
I used your last version, it work as good as mine! More o less the same modifies.
It's been nice collaborate with you.
Thank you!

[2015-11-20 13:11] mbroadst commented on #29
@aletricks great :smile: I pushed a final change to just move the internal state reset code into the d-pointers, but we should be good at this point. I'm going to close the issue, please feel free to re-open if you experience a similar problem.

[2015-11-20 13:11] #29 closed

[2015-11-20 13:48] aletricks commented on #29
I want inform something about my modify.
I overloaded _q_disconnected function into QAmqpChannelPrivate, like into others specialized channel classes:

{
    QAmqpChannelPrivate::_q_disconnected();
    qAmqpDebug() << "exchange " << name << " disconnected";
    consuming = false;
}

[2015-11-20 13:59] mbroadst commented on #29
@aletricks yeah there is some double effort being made here, in all of those `_q_disconnected` calls they should just call `resetInternalState()`, but the way it is right now won't screw anything up (its not just "clean")

[2016-02-03 06:16] droidsyer opened #30 "Create queues with limit length"
Hi,
Can I configure a queue with limit of length ?
I need to create a queue with last value caching and max number of message equal to 1.
I set this policy with a command on rabbitmq server, without effects....
My problem is a queue grow up more than 1 message.
Example
1 sender publish a message per second
1 receiver receive a message one per second, but if I break it on a breakpoint then i resume

[2016-02-03 13:33] droidsyer commented on #30
I resolved it combining:
* message with ACK
* queue with QoS (Quality of Service)
* queue with limit on "x-max-length"
In order to configure x-max-lenght using arguments, I've just modify "declare" method of queue class.
[code]
[code]

[code]

Added private attribute to QAmqpQueuePrivate class:
[code]

[2016-02-03 13:43] mbroadst commented on #30
@droidsyer ah yes, it looks like optional `arguments` were omitted from both exchange and queue declare methods. Would you be willing to put a PR together for this? Also, just as a nitpick I would prefer that the parameter was called `arguments` like the spec. Extra bonus points if you put a test together :smile:

[2016-02-04 10:48] droidsyer commented on #30
@mbroadst I've just create a PR about this, it's my first time :-D.
Is it right?

[2016-02-11 21:25] MangoCats opened #35 "Binary messages"
I'm considering using qamqp to deliver binary messages via a RabbitMQ server, but I am having difficulty with the null character, as well as any character > 0x7f.

I took one of the tutorials and replaced the message with a QByteArray filled with byte values 0-255 for testing... as long as the values range 1-127, it works as expected.

As I understand the AMQP protocol, any binary message should b

[2016-02-11 21:50] mbroadst commented on #35
@MangoCats I wouldn't doubt that we have issues with binary data, having taken a look at the code (caveat: I wrote this fork a few years back when I was actively using amqp 0-9-1, however am no longer using this code, just maintaining it).
The relevant bits are here:
  * https://github.com/mbroadst/qamqp/blob/master/src/qamqpexchange.cpp#L279
  * https://github.com/mbroadst/qamqp/blob/master/src/q

[2016-02-11 22:02] MangoCats commented on #35
Thanks for this, I hadn't been specifying a MIME type before, just going with default like the tutorial code.  I just tried "application/octet-stream" and that seems to be working perfectly.  Most excellent!

[2016-02-11 22:02] #35 closed

[2016-02-11 22:03] mbroadst commented on #35
@MangoCats cool, glad that worked for you. Were you passing in a QByteArray by any chance? It would be nice to catch that path and stop the implicit conversion to QString (which is what I assume was happening).

[2016-02-11 22:33] MangoCats commented on #35
Yes, I just constructed a QByteArray like this to pass in for testing:
`QByteArray message;
for( int i = 0; i < 256; i++ )
  message[i] = i;
`
Initially, nothing came through - masking off the NULL at the front helped, but still was translating the values >127 until I specified the MIME type.  With the MIME type, all 256 codes appear to be passed intact.

[2016-02-29 16:40] droidsyer commented on #30
@mbroadst Can you please be aware about "arguments and qamqpInterface.pri" pull request.
It has been tested by me, it works !

[2016-02-29 17:05] #30 closed

[2016-03-02 08:47] johnzhanghua opened #38 "open and close a channel and reopen again cause error"
Hi I found there is a error when using the library in the following sequence.
1. client->connectToHost()
2. exchange = client->createExchange("myexchange");
   exchange->declare(QAmqpExchange::Topic);
3. queue = client->createQueue();
   queue->declare();
   queue->bind(exchange, "routingkey");
    queue->consume(QAmqpQueue::coNoAck);
4.  exchange->publish(message.toUtf8(), routingKey);

Then do t

[2016-03-02 22:04] mbroadst commented on #38
@johnzhanghua can you possibly provide an actual sample piece of code? I haven't used this library in almost two years, so you'll have to bear with me.

[2016-03-02 22:06] mbroadst commented on #38
what seems to be happening is that the remote host is closing the attempts to recreate channels for the queue/exchange because the library is reusing a channel number. This should be specific to the session, and therefore a disconnect should have cleared the remote variables (like the local side seems to be doing), allowing us to revert back to 0 for channel ordering.

I don't really see in your l

[2016-03-02 23:45] johnzhanghua commented on #38
testReconnection.h

#ifndef TESTRECONNECTION_H
#define TESTRECONNECTION_H

#include <QObject>

class testReconnection : public QObject
{
    Q_OBJECT

public:
    testReconnection();
    void testReconnect();
    bool waitForSignal(QObject *obj, const char *signal, int msec = 300);

private slots:
    void messageReceived();
};

#endif // TESTRECONNECTION_H

testReconnection.cpp
#include "testreco

[2016-03-04 07:44] johnzhanghua commented on #38
@mbroadst , source code provided.

[2016-03-04 15:25] mbroadst commented on #38
@johnzhanghua hey sorry for the delay here. So what's going on here is that QAMQP, by default, attempts to reattach existing "channels" when you reconnect the client. So when you call your reconnect code, and try to recreate the exchange and queue, it's already doing that for you behind the scenes for the existing channels.

This is indeed a bug because clearly you are fully disconnecting the clie

[2016-03-04 18:07] mbroadst commented on #38
@johnzhanghua I added a bunch of useful debug information for frame-level operations to the library. Upon a second glance, I'm going to go ahead and say this is "by design".

What we have internally is a caching mechanism for queues and exchanges, so there are a few things going on here when you disconnect:

  * you explicitly close the exchange and queue
  * then you disconnect
  * then you recon

[2016-03-06 23:03] johnzhanghua commented on #38
@mbroadst I added the below code, but it did not help.
    m_recvQueue->remove();
    waitForSignal((m_recvQueue), SIGNAL(removed()));
    m_exchange->remove();
    waitForSignal(m_exchange, SIGNAL(removed()));

I have a user case that the user may  dynamically change the RabbitMQ server settings, which needs a disconnection and reconnection I think . How could I remove the internally cached chann

[2016-03-08 05:52] johnzhanghua commented on #38
@mbroadst Any comments about do a internal cached channels clean up?

[2016-03-08 13:49] mbroadst commented on #38
@johnzhanghua `QAmqpClient` has an internal cache as I mentioned earlier, and that actually tracks the lifetime of the channels themselves. So, if you want to explicitly remove the channel you simply need to delete it (or rather, since it's a QObject you should be using `deleteLater`). I've shown an example in the tests here: https://github.com/mbroadst/qamqp/commit/8109e5343cc5a39fada4fe6cc735880

[2016-03-09 02:32] johnzhanghua commented on #38
Thanks, that works. But there is an error log there :

onnecting to host:  "10.0.0.13" , port:  5672
Connection:

Connection:

Connection:

Connected : 1
Open channel #1
Channel#1:

declared exchange:  "myexchange"
Declared : 1
Open channel #2
Channel#2:

declared queue:  ""
message count 0
Consumer count: 0
void QAmqpQueuePrivate::bindOk(const QAmqpMethodFrame&) bound to exchange
Queue bound
cons

[2016-03-09 13:59] mbroadst commented on #38
@johnzhanghua I've pushed another commit here: https://github.com/mbroadst/qamqp/commit/3b4f6d770911cc1593c6eba814a1fbce1edb92e5, which is your exact code from above working with `deleteLater()` added. If you are running into another error, you will have to provide updated code

[2016-03-12 00:37] wilpatterson opened #40 "Only src project compiles"
Perhaps I'm doing this wrong, but when I try to compile the hello worl project, I get the following error:
16:34:09: Running steps for project qamqp...
16:34:09: Starting: "/usr/bin/make" clean
rm -f main.moc
rm -f main.o
rm -f _~ core *.core
16:34:09: The process "/usr/bin/make" exited normally.
16:34:09: Starting: "/usr/lib/x86_64-linux-gnu/qt4/bin/qmake" /home/will/Rail/rail/qamqp/tutorials/hel

[2016-03-12 01:04] mbroadst commented on #40
@wilpatterson hey, the helloworld is actually built as part of the whole project. If you follow these steps you can run either the send or receive examples there:

[code]

The tests are rpath'd to the library, but the tutorials are not hence the need to specify the library location.

[2016-03-18 11:06] droidsyer commented on #40
Hi @wilpatterson , I think that is very useful, to avoid errors when you compile a library with Qt:
For release:
 `qmake src.pro CONFIG+=debug_and_release`
For debug:
 `qmake src.pro CONFIG+=debug_and_release CONFIG+=debug`

This make you available two distinct folders "debug" and "release" where there are compiled objects for that specific configuration.
So you can find into "src" folder (i.e. fo

[2016-03-22 09:52] alaendle opened #41 "Trying to publish a message inside the 'connected' signal fails on reconnect."
If I create a simple sender that just publishes a message on 'connected' it fails during re-connecting. Just take a look at the following sample (a small modification of the sender-example):

    Sender::Sender(QObject *parent) : QObject(parent) {
        m_client.setAutoReconnect(true);
    }

    void Sender::start() {
            connect(&m_client, SIGNAL(connected()), this, SLOT(clientConnecte

[2016-03-23 18:13] droidsyer opened #42 "ChannelNumber doesn't work"
Exchanges and Queues are build with default parameter `channelNumber = -1` , so it is incremented each new instance of it.
If I try to set a fixed channelNumber, i.e. 1, this setting doesn't work as well:

No connection is established!

[2016-03-27 15:24] mbroadst commented on #41
@alaendle sorry, was on vacation! hmm this does indeed look like a bug, I'll try to repro on my end here and see what's going on.

[2016-03-28 12:52] mbroadst commented on #41
@alaendle can you post your whole code here? It looks like you're never declaring the exchange?

[2016-03-28 12:58] mbroadst commented on #41
@alaendle ah, I think I understand your issue. Yeah it looks like there is currently a problem if you try publishing when not properly connected. I wonder if maybe you'd be interested in helping out with this feature? The exchange would have to maintain an internal list of pending messages to send, which would be published upon connection and the channel being established.

[2016-03-28 15:28] #42 closed

[2016-03-28 15:28] mbroadst commented on #42
@droidsyer hey thanks for the bug report, I was away on vacation. The last commit should fix your issue, I've included a test for it

[2016-03-28 15:30] mbroadst commented on #41
@alaendle so I took a first stab at supporting pending sends on this [branch](https://github.com/mbroadst/qamqp/tree/pending-sends). The work is incomplete because of other issues I uncovered with certain reconnect scenarios, but the code there _does_ indeed resend the data on reconnect, solving your problem. I won't have time for this for a few days, but I'll try to get around to completely fixin

[2016-04-05 06:27] alaendle commented on #41
@mbroadst please excuse the late response, was also on vocation. Will take a look at your work now...

[2016-04-05 08:44] alaendle commented on #41
I still have a problem in my original scenario. If I just shutdown and restart rabbitmq (v3.6.1) I couldn't publish messages after reconnecting... the opened flag never switches back to 'true', because channel#openOk is never received. The new log...

-> connection#start( version_major=0, version_minor=9, mechanisms=(AMQPLAIN,PLAIN), locales=en_US )
<- connection#startOk()
-> connection#tune( chan

[2016-04-05 12:22] alaendle commented on #41
The problem seems to have its cause in the fact that during reconnect the channel numbers change - so the maps pointing to the frame handler methods (in this case QAmqpClientPrivate::methodHandlersByChannel) are no longer correct. So two solutions come to my mind - a) don't change channel numbers, b) don't rely on channel numbers while looking for registered handlers. I did a short proof-of-concep

[2016-04-05 13:39] mbroadst commented on #41
@alaendle are you using the code in that branch or the code in master? The issue initially with the code in master is that `AmqpExchange` tries to send data without concern for whether its currently open or not, so the work in that branch was focused on caching attempted sends until the exchange is open again (there are a number of caveats with this approach which would have to be tested, first an

[2016-04-06 05:36] alaendle commented on #41
@mbroadst Don't want to stress you, for sure we could/should improve the behaviour step-by-step. I just played around with the code in the 'pending-sends' branch and thought it might help to update this issue with the 'new' behaviour I've experienced. Also I'm aware about what it takes to maintain an open-source project over years - so let me take this chance, to just thank you for sharing the cod

[2016-04-21 20:22] kdawg14 opened #43 "What license is this released under?"
I'm a little confused by what license this is actually released under.  Your LICENSE file has the following:

Should that QJsonRpc say QAMQP, or is there a QJsonRpc component that we could use if we wanted to that's GPL'ed?  Also, your source files have:

So it's a bit unclear as to what license applies here.

Thanks!

[2016-04-21 20:44] mbroadst commented on #43
@kdawg14 aha! oops, yeah sorry this is a failed case of copy pasta indeed. When setting up the "bones" of the project during refactoring I copied a lot of files over from another project I wrote: qjsonrpc. I'll sort that out immediately, but the project is indeed licensed under LGPLv2

[2016-04-21 20:45] #43 closed

[2016-04-21 20:45] mbroadst commented on #43
fixed in 1088e6f6bf2cecfd1d8e7fa26cbe8bdd3f42aef3

[2016-04-21 21:18] kdawg14 commented on #43
Great, thanks for clarifying!

[2016-04-27 14:18] WarheadsSE opened #44 "Tagged Versions"
Could the community get some tagged revisions? It would be far cleaner if we could do packaging based on github tarball downloads or git tags vs revision locks.

[2016-04-27 14:31] mbroadst commented on #44
Tags 0.4.0 (for when the actual bump happened) and 0.5.0 (for current state of code) pushed.

The project is no longer in active development but rather maintenance mode as I haven't needed it for some time. Would be great if you guys wanted to be involved in some of that maintenance?

[2016-04-27 14:54] WarheadsSE commented on #44
TY sir. We'll look into the allocation of resources.

[2016-04-27 14:55] #44 closed

[2016-04-28 03:24] johnzhanghua opened #45 "The timestamp in AMQP 0-9-1 should be in seconds other than miliseconds"
As per the spec of AMQP 0-9-1, the timestamp value should be :+1:

4.2.5.4 Timestamps
Time stamps are held in the 64-bit POSIX time_t format with an accuracy of one second. By using 64 bits
we avoid future wraparound issues associated with 31-bit and 32-bit time_t values.

So the qampqframe.cpp should be changed like:

--- a/src/qamqpframe.cpp
+++ b/src/qamqpframe.cpp
@@ -202,7 +202,7 @@ QVariant

[2016-04-28 11:09] mbroadst commented on #45
@johnzhanghua you're getting a permissions error because you're not on the projects contributor list, please fork the project and submit a pull request.

[2016-05-16 16:58] kdawg14 opened #47 "Binding a queue to a headers exchange"
I'm trying to bind a queue to a headers exchange with the bind matching on multiple headers and I'm a little bit stuck and wondering how to do this.

I've noticed that drivers in other languages have the queue bind function taking a third argument for arguments that can specify the headers to match on (e.g., http://stackoverflow.com/questions/19240290/how-do-i-implement-headers-exchange-in-rabbitm

[2016-05-16 17:09] mbroadst commented on #47
@kdawg14 yeah this is definitely just not currently implemented, and I'm not sure it's something I'd necessarily get around to. If you wanted to take a stab at this that would be great, it looks like it would be pretty easy you just need to provide the right methods for it - something like:
[code]

with an implementation like:
[code]

Obviously there would be some more work:
- have all bind method

[2016-05-16 17:22] kdawg14 commented on #47
Thanks for the quick reply.  I will take a stab at adding this in.

[2016-08-17 13:46] J4nsen opened #51 "Problems with the worker example"
Hi, I was testing the worker example and had some problems.

The official worker tutorial says:

However, I found that
`m_queue->consume();`
sends no ack. The rabbitmq's management interface counts "unacked" up for every received message.

Debug output:

-> connection#start( version_major=0, version_minor=9, mechanisms=(AMQPLAIN,PLAIN), locales=en_US )
<- connection#startOk()
-> connection#tune( c

[2016-08-17 14:05] mbroadst commented on #51
how do you figure the consume call is not being acknowledged? I see:
[code]

[2016-08-17 14:09] mbroadst commented on #51
Sorry I think I misunderstood your question, maybe you could clarify. Are you asking if, when a message is sent with `no_ack=True` it is the expected behavior that we do not send an ack?

[2016-08-17 14:11] mbroadst commented on #51
@J4nsen also, regarding your suggestion: the example is sort of a one-off quick example. What you would really do is probably put those messages into a QList or something, and pop them off to acknowledge them. The problem stems from the fact that the message is just stored locally as `m_currentMessage`, that's why you end up acknowledging it twice in a row.

[2016-08-17 14:21] J4nsen commented on #51
@mbroadst I was thinking that a m_queue->consume() would consume a message and send  an ack to rabbitmq. For me, this is not the case.
I'm sending messages from the amqp-c library tools with

In the webinterface of rabbitmq I can see that for the channel master, "Unacked" and "Total" have the same values.

Perhaps I'm misunderstanding something...

[2016-08-17 14:31] mbroadst commented on #51
@J4nsen no consume simply indicates to the server that we would like to start consumption on this queue. Message acknowledgement is handled after this point by explicitly calling `ack` as demonstrated in the example. Are you seeing that the code doesn't acknowledge in un-modified form? That might be a bug indeed

[2016-08-17 14:42] mbroadst commented on #51
@J4nsen I'm no seeing an issue here. I compiled the code locally and ran it, there are no outstanding unacked messages when running `worker` in conjunction with `new-task`. If you have modified this code, and find you are running into an error, please provide the code to replicate your findings.

[2016-08-17 15:03] J4nsen commented on #51
@mbroadst thanks for looking into this. The example is working fine.
Somehow I thought that

is needed if I want to ack the messages by myself, and hence

would auto-ack every dequeued message.

[2016-08-17 15:03] #51 closed

[2016-08-17 16:35] mbroadst commented on #51
@J4nsen that very well may be the case actually, you might want to confirm that between documentation of clients. I would be absolutely willing to change that if it turns out I implemented this backwards

[2016-09-22 12:52] KonstantinZvyagin opened #52 ""x-expires" argument for queue's"
How can I set "x-expires" argument with timeout to queue?

[2016-09-22 13:03] mbroadst commented on #52
@KonstantinZvyagin I think you're looking for something like this: https://github.com/mbroadst/qamqp/issues/30#issuecomment-179233014

You have to create a QAmqpTable table, set the value of `x-expires` and then pass that to the queue's `declare` method.

[2016-09-22 13:07] KonstantinZvyagin commented on #52
Could you please post here a small example ? I didn't get how to use QAmqpTable

[2016-09-22 13:09] mbroadst commented on #52
I posted a link to the example:
[code]

[2016-09-22 13:10] KonstantinZvyagin commented on #52
I get it , it's QVariantHash !
sorry for may stupid question ))

[2016-09-22 13:11] mbroadst commented on #52
no problem :)

[2016-09-22 13:11] #52 closed

[2016-09-22 13:24] KonstantinZvyagin commented on #52
I have a small improvemet for you code.
Here is You lib with my chages. It's about new error HeartbeatMissed.
Could you merge it to you code?

2016-09-22 16:03 GMT+03:00 Matt Broadstone <notifications@github.com>:

--
С уважением Звягин К.Н.

[2016-09-22 13:28] KonstantinZvyagin commented on #52
It was old revision of you code (

2016-09-22 16:24 GMT+03:00 Константин Звягин <4250046@gmail.com>:

--
С уважением Звягин К.Н.

[2016-09-22 13:28] mbroadst commented on #52
@KonstantinZvyagin if you have an improvement please fork the project, and submit a pull request

[2016-09-22 13:36] KonstantinZvyagin commented on #52
Ok !

2016-09-22 16:28 GMT+03:00 Matt Broadstone <notifications@github.com>:

--
С уважением Звягин К.Н.

[2016-10-04 14:02] PaguaToP opened #55 "QAmqpClient not work with QtService"
Now QAmqpClient not work with [QtService](https://github.com/qtproject/qt-solutions/tree/master/qtservice).
For connect I use code from _tutorials/helloworld/receive_:

1.  Single run tutorials _receive_ worked
1.  Same code in my project with QtService not worked (in debug write **connecting to host:  ...** and nothing happens)

Please, help me

[2016-10-04 14:13] mbroadst commented on #55
@PaguaToP you're going to have to provide more context or source code for your issue. I actually originally used this library in a project that used QtService, so I know that it works. It is likely you are having issues with threads or something similar - a code sample would probably resolve this.

[2016-10-04 15:16] PaguaToP commented on #55
**My code**

**Receiver from examples:**
[code]
**My Service class:**
[code]
**main.cpp:**
[code]

[2016-10-25 21:49] PaguaToP commented on #55
Fixed. I use static build library QAmqpClient

[2016-10-25 21:49] #55 closed

[2016-11-16 01:10] MangoCats opened #56 "Hostname resolution"
I am having very good performance and results using raw IP addresses (10.10.10.100 192.168.1.100 etc.) but when I try to use a hostname instead, I cannot connect to the rabbit server (connectToHost myhostname:5672 -> socketError 2).

On the same machine, ping of myhostname works correctly... these are mostly ubuntu and raspbian machines I'm testing on, similar results on both.

Any ideas?

Thanks,

[2016-11-16 12:51] mbroadst commented on #56
@MangoCats sounds like you have resolution issues on your system that are out of scope for this library. Internally QAMQP is using [QAbstractSocket::connectToHost](https://code.woboq.org/qt5/qtbase/src/network/socket/qabstractsocket.h.html#_ZN15QAbstractSocket13connectToHostERK12QHostAddresst6QFlagsIN9QIODevice12OpenModeFlagEE) which internally uses the socket engine to resolve hostnames.

[2016-12-07 11:01] J4nsen opened #57 "Mass-publishing messages results in QAbstractSocket::UnconnectedState"
Hi,
I'm emitting a lot of JSON messages from a thread (QAmqpClient runs in the main thread). About 100k-500k in less than 10s. The first 50k messages are correctly received by the exchange. After that the connection to RabbitMQ gets disconnected:

Disabling confirms delays the problem a little bit, and waitForConfirms + enabling confirms results in a segmentation fault (Have not analyzed this furt

[2016-12-07 14:25] J4nsen commented on #57
The first error message is this one:

[2016-12-09 06:23] hxcan opened #58 "Please expose the queue message count when queue was declared"

[2016-12-10 03:36] mbroadst commented on #57
@J4nsen sounds like maybe rabbitmq is cutting off the connection, is there anything in the logs on the side of the equation?

[2016-12-10 03:37] mbroadst commented on #58
@hxcan can you please elaborate on this? Also, contributions are more than welcome!

[2016-12-10 03:38] #56 closed

[2016-12-10 03:40] #40 closed

[2016-12-10 03:41] #38 closed

[2016-12-10 03:42] #15 closed

[2016-12-10 04:10] hxcan commented on #58
@mbroadst Thanks for the quick reply.
https://github.com/mbroadst/qamqp/blob/master/src/qamqpqueue.cpp#L157

When the queue was declared, the remaining amount of messages in the queue was replied to us from the broker.
You have already read the "messageCount" field in your code, but just printed it into the logs. I'm developing a client application using qamqp and found that "messageCount" field u

[2016-12-11 13:04] estan commented on #12
@mbroadst Hi again, why was this closed? I still can't find any API docs.

[2016-12-13 12:15] mbroadst commented on #58
fixed in 65f34967eb9867b8dd820d8c8aaaa2f470aca30e

[2016-12-13 12:15] #58 closed

[2017-01-01 13:57] KonstantinZvyagin commented on #57
I got similar problem. When i send a lot of large messages RebbitMq drops connection.
Firs of all we have to look RabbitMq server log. It's look's like RabbitMq bug. Can You publish you log after you got  error ?

[2017-01-01 14:02] KonstantinZvyagin opened #61 "Exchange list"
Is it possible to get an actual list of exchanges  from server ?
I know that i can do it throw curl and http api. But more simple and powerful would be get a method or a class for this api.

url to http api
http://hg.rabbitmq.com/rabbitmq-management/raw-file/rabbitmq_v3_3_4/priv/www/api/index.html

Could You add it in qamqp ?

[2017-01-01 14:17] mbroadst commented on #61
while rabbitmq is what this library was initially developed to communicate with, the qamqp project itself aims to be a broker-agnostic AMQP 0-9-1 library - so I think it's out of scope to build in support for rabbitmq's json api. The resource you pointed to looks like it could easily be wrapped using QNetworkAccessManager + the QJson classes, should not be too hard to implement but imho it's not t

[2017-01-01 14:17] #61 closed

[2017-02-09 15:01] droidsyer commented on #19
Hello Matt,
I have a problem with method waitForBytesWritten.
Sometimes my application is locked when is called this method (timeout expired).
Although I try to modify writeTimeout (i.e. -1; 5 or 30), when timeout expires, rabbitMQ server disconnects me.

But if I try to delete it, it works!

[2017-07-13 08:38] IgorSysoyev opened #67 "Message rejecting doesn't work"
Hi,
I have a problem with message rejecting.
The following method
`void QAmqpQueue::reject(const QAmqpMessage &message, bool requeue) `
doesn't work due to calling inside it wrong method.
Current source code is:
[code]
Have to be:
[code]
Method
`void QAmqpQueue::reject(qlonglong deliveryTag, bool requeue) ` nevertheless works fine.

Thanks,
Igor

[2017-07-13 12:50] mbroadst commented on #67
@IgorSysoyev thanks for pointing this out, contributions are most welcome!

[2017-07-14 12:13] IgorSysoyev commented on #67
Fixed.

[2017-07-14 12:13] #67 closed

[2017-08-25 14:44] DKMudrechenko opened #69 "Unable to get the default exchange"
I am trying to use the qamqp with RabbitMQ broker to establish communication between two applications - let's call them a client (Windows UWP app ) and a server (Qt app). So far I am able to pass  a message from the client to the server using a default exchange and the server successfully gets the message.

[code]

However when I try to send a message from the server to the client, I am unable to

[2017-08-28 12:30] #69 closed

[2017-10-17 17:51] ilnuribat commented on #40
after
[code]
in` qamqp/build/src` were create several libs, including `libqamqp.so`
but this wouldn't solve my problem -
`/usr/bin/ld: cannot find -lqamqpd`
Who can help me?

[2018-03-13 23:53] MyraBaba opened #72 "Is this project DEAD ?"
Hi,

We would like to use your code. But there is not much activity ? Do you suggest to go or we should look another solution ?

Additionally how we can include newtask example in our code ? I saw there is -lqamqpd in config ?

Do we need to compile ? Or just include the headers is enough ?

Thx

[2018-06-13 09:49] manner82 commented on #57
Hi,

I have also bumbed into this issue, and it is the client which is closing connection: rabbit logs:
client unexpectedly closed TCP connection

This workaround seems to be working:
client.setWriteTimeout(-2);  // where client is the QAmqpClient.

Note: specifying -1 seems to mean "wait forever when sending a frame". Lower than -1 means, do not wait. Default seems to be 1000ms which seems to be

[2018-07-10 19:19] MangoCats opened #74 "Build under latest Ubuntu/Qt has a problem with include_next <stdlib.h>"
In a fresh Ubuntu 18.04 install with a fresh Qt Creator & Qt 5.11.1 install (with apt-get install build-essential), when building qamqp, when rabbitinterface.h includes <QtCore>, it drills down to /usr/include/c++/7/bits/stl_algo.h which includes <cstdlib> and in there, there is an #include_next <stdlib.h> which fails.

This is a fairly common problem described around the internet, unfortunately t

[2018-07-10 20:45] MangoCats commented on #74
Nevermind... it's not in the library itself but something with apps I have added to it (like the tutorials, but the tutorials don't have the problem.)

[2018-07-10 20:45] #74 closed

[2019-02-25 10:55] luisclaudiogama commented on #72
how can I compile this project?

I can´t create qamqpd.

[2019-06-13 10:51] zuzoid opened #75 "Empty virtualhost deduced from uri"
When uri without a path specified (usual usage) virtualHost variable (what was initialized with AMQP_VHOST define) become empty. This makes it necessary to add a slash to the end of uri.

[2021-10-07 17:41] DmitryDemidov80 opened #81 "Qt 6 support"
Hi!
Will be Qt 6 support?
Now it has compile errors.

Needs
#include QIODevice
and problem with QHash::unite()

Thanks!

[2021-12-03 17:01] AntonOrnatskyi commented on #81
And QSslSocket::error signal was obsolete

[2021-12-03 19:39] droidsyer commented on #81
Some days ago, I made porting on Qt6. It was easy and fast. As soon as possible I should make a pull request. But I didn't tried to compile with Qt4.

[2022-03-08 09:00] Tsingkai opened #82 "what is the qamqpd lib file? The document coming soon!"
### Environment
---
+ Qt-Version: 5.12.8
+ OS: Ubuntu 20.04LTS

### Problem
---
Follow these steps:
1. Step 1：``` git clone https://github.com/mbroadst/qamqp.git```
2. Step 2:  open qamqp.pro by Qt Creator
3. Step 3:  compile the **src** project
4. Step 4:  compile the **hello world** project
5. these Errors
[code]

**So, where is the qamqpd lib file? **

### At Last
+ if the repo is archived，plea